.fa-phone{
    font-size: 50px;
    color: rgb(66, 111, 150);
}

.fa-accessible-icon{
    font-size: 20px;
    color: rgb(177, 17, 150);
}

.fa-airbnb{
    font-size: 30px;
    color: rgb(132, 174, 211);
}

.fa-amazon{
    font-size: 100px;
    color: rgb(29, 33, 36);
}